In [1]:
import pandas as pd

In [4]:
from pandas import DataFrame


CanalDeVenta=pd.read_excel('Homework\CanalDeVenta.xlsx')
Empleados=pd.read_excel('Homework\Empleados.xls')
Productos=pd.read_excel('Homework\Productos.xlsx')
Proveedores=pd.read_excel('Homework\Proveedores.xlsx')

In [6]:
CanalDeVenta.to_csv('Homework\CanalDeVenta.csv')

In [7]:
Empleados.head()

,ID_empleado,Apellido,Nombre,Sucursal,Sector,Cargo,Salario
0,1968,Burgos,Jeronimo,Caseros,Administración,Administrativo,32000
1,1674,Villegas,Estefania,Caseros,Administración,Vendedor,32000
2,1516,Fernandez,Guillermo,Caseros,Administración,Vendedor,45000
3,1330,Ramirez,Eliana,Caseros,Administración,Vendedor,32000
4,1657,Carmona,Jose,Caseros,Administración,Vendedor,32000

In [8]:
Empleados.to_csv('Homework\Empleados.csv')

In [9]:
Productos.head()

   ID_PRODUCTO                            Concepto         Tipo   Precio
0        42737                  EPSON COPYFAX 2000    IMPRESIÓN  1658.00
1        42754    MOT ASROCK H110M-HDS S1151 S/VGA  INFORMATICA  1237.50
2        42755  MOT ASROCK A58M-VG3+ AMD FM2+ R2.0  INFORMATICA  1079.32
3        42756                  MOT ECS KAM1-I AM1  INFORMATICA   638.66
4        42757    MOT ASROCK B150M-HDS S1151 S/VGA  INFORMATICA  1784.42

In [10]:
Productos.to_csv('Homework\Productos.csv')

In [11]:
Proveedores.head()

,IDProveedor,Nombre,Address,City,State,Country,departamen
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA

In [12]:
Proveedores.to_csv('Homework\Proveedores.csv')